# Supabase Configuration
SUPABASE_URL="your_supabase_url"
SUPABASE_SERVICE_ROLE_KEY="your_supabase_service_role_key"
VITE_SUPABASE_PROJECT_ID="your_supabase_project_id"
VITE_SUPABASE_PUBLISHABLE_KEY="your_supabase_publishable_key"
VITE_SUPABASE_URL="your_supabase_url"

# Prisma Database Configuration
# Replace username, password, hostname, port, and database_name with your values
DATABASE_URL="postgresql://username:password@hostname:port/database_name?pgbouncer=true&connection_limit=10"
DIRECT_URL="postgresql://username:password@hostname:port/database_name"

# Backend application settings
STORAGE_TYPE="base64"
BACKEND_URL="http://localhost:4000"

# Google Drive Storage Configuration (for Video uploads)
GDRIVE_CLIENT_EMAIL="your-service-account@project.iam.gserviceaccount.com"
GDRIVE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC7..."
GDRIVE_FOLDER_ID="your-google-drive-folder-id"

